<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <br><br><br>
        <h1>О приложении</h1>
        <h2>Это генератор паролей. Используйте и наслаждайтесь! </h2>

        <br><br><br>
        <a href="{% url 'home' %}" class="btn btn-warning">Главная</a>
    </div>
</body>
</html>