<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <br>
        <br>
        <br>
        <br>
        <h1>Ваш пароль:</h1>
        <h2 class="alert alert-success">{{ password }}</h2>
        <a href="{% url 'home' %}" class="btn btn-warning">Главная</a>
    </div>
</body>
</html>
